/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.mainMenuButton {
	-fx-min-width: 300px;
	-fx-min-height: 50px;
	
	-fx-background-color: #333;
}

.mainMenuButton:hover {
	-fx-background-color: #336;
}

#mainMenuBorderPane {
	-fx-background-image: url("../assets/img/Underdark_Entrance.jpg");
	/*TODO: Maybe get background art we're actually allowed to use.*/
}

#mainMenuTitleLabel {
}

#mainMenuVBox {
	-fx-background-color: rgba(250, 250, 250, 0.25);
}